.my-list{
    margin: 0 auto;
    padding: 8px 24px;
    width: 500px;
    font-size: 30px;
    border: 1ox solid #333;
    background-color: rgb(247, 243, 129);;
    box-shadow: 0 0 10px 2px #333333;
}