* {
    margin: 0;
    padding: 0;
}
body{
    line-height: 1.618rem;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: url(/images/winter.jpeg)no-repeat center center;
    text-align: center;
    background-size: cover;
    height: 800px;
}

header h1 {
    padding: 150px;
    color: tomato;
    font-size: 2.5rem;
    text-shadow: 0px 2px 2px black;

}

header button {
    padding: 20px 20px 20px 20px;
    text-align: center;
    background: none;
    border: 5px solid white;
    color: white;
    font-weight: bold;
    text-shadow: 0px 2px 2px black;
    font-size: 2rem;
}

main section  article {
    float: left;
    width: 33.33%;
    padding: 30px;
    text-align: center;
    font-size: 1rem;
    width: 46.05%;
}
section::after{
    content: "";
  clear: both;
  display: table;
}
footer{
    text-align: center;
    padding: 10px;
    color: white;
    font-weight: bold;
    background-color: black;
}